package xyz.fairportstudios.popularin.secrets

class APIKey {
    companion object {
        // Development
        // const val POPULARIN_API_KEY = ""

        // Production
        const val POPULARIN_API_KEY = ""
        const val TMDB_API_KEY = ""
    }
}